* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: whitesmoke;
}
.header {
  text-align: center;
  width: 80%;
  margin: 1rem auto;
  padding: 1rem 1rem;
  border: 1px solid;
  background-color: skyblue;
}
.inputs {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: auto;
  padding: 1rem 0.4rem;
}
.income-expense {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.body-wrapper {
  width: 80%;
  margin: auto;
  border: 1px solid;
  background-color: rgb(185, 247, 240);
}
.income-expense > div {
  border: 1px solid;
  width: 50%;
  text-align: center;
  padding: 1rem 0;
}
.calculator {
  width: 90%;
  margin: 1rem auto;
  padding: 0.2rem 1rem;
  border: 1px solid;
  text-align: center;
}
.calculated-amount {
  padding: 0.5rem 0 0.5rem 0;
  border-top: 1px solid;
  font-size: 0.8rem;
}
.income-list,
.expenses-list {
  list-style: none;
}
.listDiv {
  display: flex;
  justify-content: space-around;
  padding: 0.3rem 0;
}
.list {
  text-decoration: underline;
  width: 33%;
  font-size: 0.8rem;
}
.add-button {
  padding: 0.1rem 0.8rem;
}

.clear-localstorage {
  text-align: center;
  padding-bottom: 1rem;
}
.clear-localstorage > button {
  background-color: red;
  padding: 0.3rem 1rem;
  color: antiquewhite;
}
